.header{
    text-align: center;
    font-size: 2rem;
}

.form-submit{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.submitt{
    width: 10rem;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    padding: 1rem;
    color: hsla(107 95% 100% / 0.96);
    background-color: hsla(107 95% 30% / 0.96);
}